/* src/pages/StorybooksPage.css */

/* Main section styles */
.main-section {
  margin: 0;
  padding: 2rem;
  text-align: center;
  margin-top: 80px; /* Adjust for fixed navbar */
}

.storybook-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.storybook-item-wrapper {
  cursor: pointer;
}
