/* Styles for individual storybook items */
.storybook-item {
    padding: 8px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
  }
  
  /* Styles for the storybook details */
  .storybook-details {
    display: flex;
    flex-direction: column;
    width: 16rem;
  }
  
  /* Styles for the cover image */
  .storybook-cover {
    width: 16rem;
    height: 19rem;
    max-height: 450px;
    border-radius: 8px;
  }
  
  /* Hover effect: slightly enlarge and add a shadow */
  .storybook-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Click effect: slightly depress */
  .storybook-item:active {
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Style the title and author text */
  .storybook-item h3 {
    margin: 0;
    color: #242424;
  }
  
  .storybook-item p {
    margin: 0;
    color: #242424;
  }